

img{
  text-align: center;
}



body {
    background: #2f2840 url("bg_body.gif");
    padding:75px 0 0 0 ;
    font: normal 20px Helvitica, Arial, sans-serif;
    color:#45494d;
}

header, main, footer{
  width: 1000px;
  margin:0 auto 0 auto;
} 

main{
  padding:75px 0 100px 0 ;
  background: white;
  text-align: center;
}

h1{
  padding:0 0 50px 0;
}

h2{
  font-size: 36px;
}

h3{
  color:green;
}

article{
  padding:0 110px 100px 110px;
}

